
<%- include('partials/header') %>
<h1>Catálogo de Livros</h1>
<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Título</th>
      <th>Autor</th>
      <th>Editora</th>
      <th>Ações</th> <!-- nova coluna -->
    </tr>
  </thead>

  <tbody>
    <% livros.forEach(livro => { %>
      <tr>
        <td><%= livro.id %></td>
        <td><%= livro.titulo %></td>
        <td><%= livro.autor %></td>
        <td><%= livro.editora %></td>
        <td>
          <a href="/catalogo/editar/<%= livro.id %>">✏️ Editar</a>
          |
          <a href="/catalogo/excluir/<%= livro.id %>">🗑️ Excluir</a>
          <a href="/catalogo/novo">Novo Livro</a>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>

<a href="/novo">➕ Novo Livro</a>

<%- include('partials/footer') %>
