
<%- include('partials/header') %>
<h1>Catálogo de Livros</h1>
<table class="table table-striped">

  <thead>
    <tr>
      <th>ID</th>
      <th>Título</th>
      <th>Autor</th>
      <th>Editora</th>
    </tr>
  </thead>
  <tbody>
    <% livros.forEach(livro => { %>
      <tr>
        <td><%= livro.id %></td>
        <td><%= livro.titulo %></td>
        <td><%= livro.autor %></td>
        <td><%= livro.editora %></td>
      </tr>
    <% }) %>
  </tbody>
</table>
<%- include('partials/footer') %>
